




<div ng-app="Platzi" ng-controller="BaseCtrl">
    <h1>Hello Platzi</h1>

    <ul>
        <li ng-repeat="emoji in emojis">
            <span>{{emoji.name}}</span>
        </li>
    </ul>


</div>

<script>



</script>